 body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

#flag-container {
    margin-bottom: 20px;
}

#guess {
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
}

#next-button {
    background-color: #4CAF50;
    color: white;
}
