 import { StyleSheet } from 'react-native';

const styles = StyleSheet.create({
    container: {
        flex: 1,
        alignItems: 'center',
        justifyContent: 'center',
        height: '100%',
        fontFamily: 'Arial, sans-serif',
    },
    title: {
        marginBottom: 20,
    },
    flagContainer: {
        marginBottom: 20,
    },
    input: {
        padding: 10,
        fontSize: 16,  // 1em en CSS es aproximadamente 16px
    },
    button: {
        padding: 10,
        marginTop: 10,
        fontSize: 16,  // 1em en CSS es aproximadamente 16px
        cursor: 'pointer',
    },
    result: {
        marginTop: 20,
        fontSize: 24,  // 1.5em en CSS es aproximadamente 24px
    },
    nextButton: {
        backgroundColor: '#4CAF50',
        color: 'white',
    },
});

export default styles;

